@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: "Open Sans";
  color: #d5d8dc;
  background-color: #154360;
}
#main {
  margin: auto;
  width:fit-content;
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-radius: 10px;
}
#numberPad {
  display: flex;
  flex-wrap: wrap;
  font-size: 36px;
  padding: 10px;
  flex-direction: row;
}
#screen {
  font-size: 48px;
  border-bottom: solid;
  text-align: right;
  padding-right: 5%;
}
.button {
  padding:10px
}
.column{
  display: flex;
  flex-direction: column;
}
